# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# PROS kernel files. Restore: pros c apply kernel@4.2.2 --force-apply
firmware/
include/pros/
